
@media (min-width:768px) {
    .h1 {
        font-size: 92px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
    color: green;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
}
@media (max-width:500px) {
    .red {
        background-color: blue;
    }
}
.img{
    display: none;
}
@media(min-width:500px) and (max-width:1000px) {
    .img{
        display: block;
    }
}